<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
</head>

<body>
<table align="center" cellpadding="0" cellspacing="0" border="0" width="650">
	<tr>
		<td align="center"><a href="#" style="border: 0; margin: 0; padding: 0;"><img src="https://www.palmettodunes.com/booking/templates/main/images/email-images/logo.jpg" width="184" height="90" style="border: 0; margin: 0 auto; padding: 0; display: block;" /></a></td>
	</tr>
	<tr>
		<td style="border-top: 14px solid #fff; border-bottom: 35px solid #fff;"><img src="https://www.palmettodunes.com/booking/templates/main/images/email-images/top-border.jpg" width="650" height="3" style="display: block;" /></td>
	</tr>
	<tr>
		<td style="border-bottom: 10px solid #fff; border-left: 15px solid #fff; border-right: 15px solid #fff; color: #4c4c4c; font-size: 15px; font-family: Arial, Helvetica, sans-serif; line-height: 24px;">{%intro%}</td>
	</tr>
	<tr>
		<td>
			<table align="center" cellpadding="0" cellspacing="0" border="0" width="650">
				<tr>
					<td><img src="https://www.palmettodunes.com/booking/templates/main/images/email-images/heading-left.jpg" width="160" height="60" style="display: block;" /></td>
					<td width="330" align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-transform: uppercase; color: #5a5a5a;">Rental Unit Details &amp; Pricing</td>
					<td><img src="https://www.palmettodunes.com/booking/templates/main/images/email-images/heading-right.jpg" width="160" height="60" style="display: block;" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="border-bottom: 25px solid #fff;">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td style="border-right: 10px solid #fff;">
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="415" style="border: 1px solid #b5b5b5;">
									<table cellpadding="0" cellspacing="0" border="0" width="415">
										<tr>
											<td style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #4c4c4c; background-color: #e3ebf3; padding: 10px 20px;">Unit Details</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td style="padding: 15px; border-bottom: 1px solid #b5b5b5; border-left: 1px solid #b5b5b5; border-right: 1px solid #b5b5b5;" height="115">
									<table cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td style="padding-right: 15px;"><img src="{%image%}" width="151" height="107" style="display: block;" /></td>
											<td valign="top">
												<table cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td style="font-family: 'Times New Roman', Times, serif; color: #407cad; font-size: 18px; border-bottom: 10px solid #fff;">{%name%}</td>
													</tr>
													<tr>
														<td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4c4c4c;">
															<table cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td style="font-weight: bold; border-bottom: 5px solid #fff;" width="70">Unit Type:</td>
																	<td>{%type%}</td>
																</tr>
																<tr>
																	<td style="font-weight: bold; border-bottom: 5px solid #fff;" width="70">Arriving:</td>
																	<td>{%arrive%}</td>
																</tr>
																<tr>
																	<td style="font-weight: bold; border-bottom: 5px solid #fff;" width="70">Departing:</td>
																	<td>{%depart%}</td>
																</tr>
																<tr>
																	<td style="font-weight: bold; border-bottom: 5px solid #fff;" width="70">Nights:</td>
																	<td>{%nights%}</td>
																</tr>
																<tr>
																	<td colspan="2">{%promocode%}</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="221" style="border: 1px solid #b5b5b5;">
									<table cellpadding="0" cellspacing="0" border="0" width="221">
										<tr>
											<td style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #4c4c4c; background-color: #e3ebf3; padding: 10px 20px;">Pricing Details</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td style="padding: 15px; border-bottom: 1px solid #b5b5b5; border-left: 1px solid #b5b5b5; border-right: 1px solid #b5b5b5;">
									<table cellpadding="0" cellspacing="0" border="0" height="115">
										<tr>
											<td valign="top">
												<table cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4c4c4c;">
															{%prices%}
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="border-bottom: 10px solid #fff; border-left: 15px solid #fff; border-right: 15px solid #fff; color: #4c4c4c; font-size: 15px; font-family: Arial, Helvetica, sans-serif; line-height: 24px; font-style: italic;">{%description%}</td>
	</tr>
	<tr>
		<td style="border-bottom: 20px solid #fff; border-top: 20px solid #fff; border-left: 15px solid #fff;"><a href="{%propertylink%}"><img src="https://www.palmettodunes.com/booking/templates/main/images/email-images/btn.jpg" width="151" height="36" style="display: block; margin: 0; border: 0;" /></a></td>
	</tr>
	<tr>
		<td style="border-top: 14px solid #fff; border-bottom: 25px solid #fff;"><img src="https://www.palmettodunes.com/booking/templates/main/images/email-images/top-border.jpg" width="650" height="3" style="display: block;" /></td>
	</tr>
	<tr>
		<td align="center" style="border-bottom: 20px solid #fff; color: #4c4c4c; font-size: 15px; font-family: Arial, Helvetica, sans-serif; line-height: 24px;"><a href="#" style="color: #407cad;">Palmetto Dunes Oceanfront Resort</a>, Hilton Head Island<br />Phone: 866.380.1778<br />4 Queens Folly Road, Hilton Head Island, SC 29928</td>
	</tr>
</table>
</body>
</html>
