
.alt {
	position:absolute;
	left:-9999px;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font:62.5% Arial, Helvetica, sans-serif;
	background: #fff;
}

.wrapper {
	position: relative;
	width: 100%;
	text-align: center;
}

#masthead {
	position: absolute;
	top: 25px;
	height: 600px;
	width: 100%;
	z-index: -1;
	overflow: hidden;
}

.index #masthead {
	top: 0;
}

#masthead img { position: absolute; margin-left: -300px; top: 0; left: 50%; }

h1.branding {
	background: #efefef;
	position: relative;
	width: 100%;
	margin: 0 0 23px;
}

.branding a {
	display: block;
	height: 75px;
	width: 229px;
	margin: 0 auto;
}

.wrapper > article {
	background: #fff;
	margin: 0 7px 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
}

.wrapper article#nav { background: rgba(255,255,255, .8) !important; }

header {
	background: #efefef;
	width: 100%;
	text-align: left;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-top-right-radius: 9px;
	-webkit-border-top-left-radius: 9px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-topright: 9px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	border-bottom-left-radius: 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color:#fff;
}

.index header {
	background: #032b42;
	background: -webkit-linear-gradient(top, #032b42 0%,#011722 100%);
	background: -ms-linear-gradient(top, #032b42 0%, #011722 100%);
	background: -moz-linear-gradient(top, #032b42 0%, #011722 100%);
	padding: 8px 0;
}

header h1 {
	color: #022132;
	font-size: 15px;
	line-height: 44px;
	font-family:'Times New Roman',Times,serif;
	margin: 0 20px;
	text-transform:uppercase;
}

header a {
	padding: 0 16px;
	display: block;
	font-family:'Helvetica Neue', Helvetica;
	font-size: 17px;
	line-height: 44px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.form header { 
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
}
/**** Home Push ****/

#index .push .cycle-prev, #index .push .cycle-next {
	position: absolute;
	top: 0;
	height: 143px;
	width: 28px;
	z-index: 999;
	text-indent: -9999px;
	background: url(../images/push-sprite.png) no-repeat 0 center #fff;
}

#index .push .cycle-prev.disabled {
	background-position: -57px center;
}

#index .push .cycle-next {
	right: 0;
	background-position: -28px center;
}

#index .push .cycle-next.disabled {
	background-position: -83px center;
}

#index .push {
	height: 185px;
	background-color: white;
	width: 100%;
	position: relative;
}

#index .wrapper .push article {
	background: #fff;
	margin: 0;
	border: none;
}

.push .description {
	width: 100%;
	background: #d2dae1;
	position: absolute;
	bottom: 0;
	text-align: center;
	color: #022132;
	font-size: 21px;
	line-height: 42px;
	font-weight: normal;
	font-family: 'Times New Roman', Times, serif;
}

#push-items article {
	text-align: center;
	width: 100%;
	height: 185px;
}

/*Footer*/

footer {
	position:relative;
	text-align:center;
	color:#022132;
	line-height:16px;
	padding:15px 0;
	font-size:11px;
}

footer a {
	color:#022132;
	font-size:11px;
	display:block;
	text-decoration: underline;
}

footer a span {
	text-decoration: underline;
}

footer small {
	font-size:11px;
}

.social {
	padding-top:5px;
}

.social a {
	margin:0 5px;
	display:inline;
}

footer p {
	margin: 10px;
}

footer .phone {
	font-weight: bold;
	color:#72b4ff !important;
	text-decoration:underline;
}

#social-icons {
	list-style: none;
	width: 90px;
	margin: 15px auto;
	display: inline-block;
}

#social-icons li {
	float: left;
	margin: 0 5px;
}

#social-icons li a {
	height: 33px;
	width: 34px;
	display: block;
}

#social-icons li a.facebook {
	background-image: url(../images/facebook-icon.png);
}

#social-icons li a.googleplus {
	background-image: url(../images/googleplus-icon.png);
}

#social-icons li a.pinterest {
	background-image: url(../images/pinterest-icon.png);
}

#social-icons li a.tripadvisor {
	background-image: url(../images/trip-advisor-icon.png);
}

#social-icons li a.twitter {
	background-image: url(../images/twitter-icon.png);
	width: 35px;
}

#social-icons li a.youtube {
	background-image: url(../images/youtube-icon.png);
}

/* Content */

.content {
	text-align: left;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.content p, .content ul, .content ol {
	line-height: 19px;
	margin: 0 0 20px;
	font-size: 14px;
}

.content a { color: #003055; }

.content ul, .content ol {
	margin: 0 30px 10px;
}

.content h2 {
	color: #003055;
	font-size: 16px;
	padding-bottom: 5px;
}

.content h3 {
	color: #003055;
	font-size: 14px;
	padding-bottom: 5px;
}

.content h4 {
	color: #003055;
	font-size: 12px;
	padding-bottom: 5px;
}

.content h5 {
	color: #003055;
	font-size: 10px;
	padding-bottom: 5px;
}

/* Nav */
#index header nav { background:transparent url(../images/arrow-right.png) 95% center no-repeat;}
.nav-primary, .nav-secondary {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
}

.nav-primary li, .nav-secondary li {
  border-top: 1px solid #999;
}

.nav-primary li a, .nav-secondary li a {
  background: url(../images/arrow-right.png) 95% center no-repeat;
  padding-left: 20px;
  color: #022132;
  text-decoration: none;
  display: block;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
}

.nav-secondary { display: none; }

.nav-primary li a {
  padding-left: 78px;
}
.nav-primary li {
  background-image: url(../images/nav-sprite.jpg);
  background-position: left top;
  background-repeat: no-repeat;
}
.nav-primary li:hover, .nav-secondary li:hover {
  background-color: #01b1ae;
  color: #fff;
}
.nav-primary li:hover a, .nav-secondary li:hover a { color:#fff; }
.nav-primary li:last-child a:hover, #nav_sub li:last-child a:hover, .nav-primary li:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.nav-secondary { background: rgba(255, 255, 255, .8) !important; }

.nav-secondary li a.back-main-menu, #nav header a.back {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0 16px;
	font-size: 14px;
	border:1px solid #626262;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	line-height: 28px;
	width: 64px;
	height: 28px;
	text-align: center;
	color: #fff;
	background: #999;
	background: -webkit-linear-gradient(top, #9c9c9c 0%, #9c9c9c 50%, #838383 51%, #838383 100%);
	background: -ms-linear-gradient(top, #9c9c9c 0%, #9c9c9c 50%, #838383 51%, #838383 100%);
	background: -moz-linear-gradient(top, #9c9c9c 0%, #9c9c9c 50%, #838383 51%, #838383 100%);
}

.nav-secondary li a.back-main-menu {
  float: right;	
  width: 100px;
  margin: 0px;
}

.nav-primary li:nth-child(2) {
  background-position: 0 -41px;
}
.nav-primary li:nth-child(3) {
  background-position: 0 -82px;
}
.nav-primary li:nth-child(4) {
  background-position: 0 -123px;
}
.nav-primary li:nth-child(5) {
  background-position: 0 -164px;
}
.nav-primary li:nth-child(6) {
  background-position: 0 -205px;
}
.nav-primary li:nth-child(7) {
  background-position: 0 -246px;
}
.nav-primary li:nth-child(8) {
  background-position: 0 -287px;
}
.nav-primary li:nth-child(9) {
  background-position: 0 -328px;
}
.nav-primary li:nth-child(10) {
  background-position: 0 -369px;
}

#nav_sub ul {
  margin: 0 7px;
  border: 1px solid #c6b1c8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-secondary {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-secondary li:last-child:hover {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.nav-secondary li:first-child {
  text-align: right;
  height: 39px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: none;
  padding-top: 8px;
  padding-right: 8px;
  list-style:none;
  background: #032b42;
  background: -webkit-linear-gradient(top, #032b42 0%,#011722 100%);
  background: -ms-linear-gradient(top, #032b42 0%, #011722 100%);
  background: -moz-linear-gradient(top, #032b42 0%, #011722 100%);
}

.nav-utility {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 12px 0 10px 0;
  background:#efefef;
}
.nav-utility ul {
  padding-left: 9px;
}
.nav-utility li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  width: 23%;
}
.nav-utility a {
  color: #022132;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
}


.toolbar {
	background:#032b42;
	background: -webkit-linear-gradient(top, #032b42 0%,#011722 100%);
	background: -ms-linear-gradient(top, #032b42 0%, #011722 100%);
	background: -moz-linear-gradient(top, #032b42 0%, #011722 100%);
	border-bottom: 1px solid #003055;
	height: 47px;
	margin-bottom: 108px;
}

.form .toolbar {
	margin: 0;
}

.toolbar .back {
	background: url(../images/back.png) top left;
	left: 15px;
	top: 10px;
	position: absolute;
	height: 30px;
	padding: 0 10px 0 20px;
	font-size: 14px;
	display: block;
	color: #fff;
	line-height: 30px;
	font-weight: 700;
	text-decoration: none;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0px 3px 3px 0px;
}


/* contact us */
.form .wrapper {
	background: rgba(10, 22, 18, .4) !important
}
.form .wrapper > article { 
	background: none;
	color: #fff;
	border: none;
	margin: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.form .content { padding: 15px 13px 10px; }

/* General Form styles */
form { width:100%; margin:0 auto; }
fieldset { margin:0; padding:0; border:none; }
.field { clear:both; float: left; padding:5px 0; width: 100%; }
.name-field { clear: none; width: 97%; }
.field input, .field textarea { width:97%; -webkit-border-radius:5px; border-radius:5px; -moz-border-radius:5px; font-family:Arial, Helvetica, sans-serif; background-color:#fff; padding: 9px 0 9px 9px; font-size:12px; border:2px inset; }
.field select, .date-field select { width:97%; -webkit-border-radius:5px; border-radius:5px; -moz-border-radius:5px; font-family:Arial, Helvetica, sans-serif; padding:3px; font-size:12px; }
.name-field input#first_name { width:90%; }

#contact-us fieldset {}
label { display: none; }
.checkboxgroup label { display:inline; }
#contact-us input[type='checkbox'] { margin: 2px 8px 10px 8px; }
#contact-us .comments { margin-bottom: 20px; }
.form #contact-us input[type='checkbox'] { margin: 10px 8px 10px 0; float: left; }
#contact-us span { font-size: 12px; padding: 10px 0; display: inline; }

.buttons { padding: 15px 0; }
.buttons input {
	background: rgb(62,89,129);
	background: -moz-linear-gradient(top,  rgba(62,89,129,1) 0%, rgba(62,89,129,1) 50%, rgba(33,64,110,1) 51%, rgba(33,64,110,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(62,89,129,1) 0%,rgba(62,89,129,1) 50%,rgba(33,64,110,1) 51%,rgba(33,64,110,1) 100%);
	background: linear-gradient(to bottom,  rgba(62,89,129,1) 0%,rgba(62,89,129,1) 50%,rgba(33,64,110,1) 51%,rgba(33,64,110,1) 100%);
	border: none;
	color: #fff;
	font-size: 18px;
	text-align: center;
	width: 100%;
	display: block;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 11px 0;
}

/* offers */

.read-more a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px 9px;
	font-size: 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	line-height: 28px;
	width: 64px;
	height: 28px;
	text-align: center;
	color: #fff;
	background:#032b42;
	background: -webkit-linear-gradient(top, #032b42 0%,#011722 100%);
	background: -ms-linear-gradient(top, #032b42 0%, #011722 100%);
	background: -moz-linear-gradient(top, #032b42 0%, #011722 100%);
	text-decoration: none;
}